<h1><%= @post.content %></h1>
<h2><%= @post.user_id %></h2>

<%= link_to "Back", posts_path %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= button_to "Delete", @post, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
